<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <!-- Include your CSS files here. -->
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/mentorship-opportunities">Mentorship Opportunities</a></li>
            <li><a href="/login">Login In</a></li>
            <li><a href="/register">Register</a></li>

        </ul>
    </nav>
    <h1>Welcome to MentorXone!</h1>
    <!-- Add more content here. -->
</body>
</html>
