<!DOCTYPE html>
<html lang="en">
<head>
     <meta name="description" content="Your description goes here.">
        <meta name="keywords" content="keyword1, keyword2, keyword3">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
    <title>Mentor Registration</title>
</head>
<body>
    <h1>Mentor Registration</h1>
    <form action="/user/mentor-register" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>

        <button type="submit">Register</button>
    </form>
</body>
</html>
