<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <!-- Add your CSS links here -->
</head>
<body>
    <div>
        <h1>Welcome to Dashboard</h1>
        <p>Your registration was successful and your email has been confirmed.</p>
        <button onclick="location.href='/studentDashboard';" id="dashboardButton">Continue to Dashboard</button>
    </div>
</body>
</html>
