@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: #f5f5f5;
}

header .navbar-expand-lg .navbar-collapse {
    display: block !important;
}

header nav ul .nav-link {
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

header nav ul .nav-item {
    margin-inline: 5px;
}

/* CSS */
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(0.1em + var(--s)) calc(0.15em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}

#bg {
    position: relative;
    height: 80vh;
    /* Set your desired height */
    overflow: hidden;
    /* Hide any overflowing content */
    background-color: rgba(0, 0, 0, 0.466);
}

#bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Maintain video aspect ratio and cover the container */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#bg .container {
    position: absolute;
    top: 50%;
    /* Adjust this value to vertically center the container */
    left: 10%;
    /* Adjust this value to move the container towards the left */
    transform: translate(-10%, -50%);
    /* Center the container horizontally and vertically */
    z-index: 1;
    width: 50%;
}


#overlay-container{
    background-color: rgba(0, 0, 0, 0.3); /* Black background with opacity */
    width: 100%;
    height: auto;
    padding: 20px;

}


#bg #overlay-content {
    text-align: left;
    padding: 20px;
    color: #fff;
  
}


#bg #overlay-content h2 {
    font-weight: bolder;
    color: #F8998D;
    padding-bottom: 10px;
}

#bg #overlay-content p {
    font-weight: 500;
}

h1,
h4 {
    font-family: 'Montserrat', sans-serif;
}



.seperator {
    margin-bottom: 30px;
    width: 35px;
    height: 3px;
    background: #777;
    border: none;
}

.title {
    text-align: center;
    padding: 0 10%;

    .row {
        padding: 20px;
        margin: 60px 10px;
    }

    h1 {
        text-transform: uppercase;
    }

    .seperator {
        margin: 0 auto 10px;
    }
}

#cat .col-md-4 {
    width: 29%;
}

#cat .item {
    position: relative;
    margin-bottom: 30px;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .item-in {
        background: #fff;
        padding: 30px;
        position: relative;
        height: 100%;

        &:hover:before {
            width: 100%;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: 0px;
            height: 2px;
            width: 0%;
            background: #333333;
            right: 0px;
            -webkit-transition: width 0.4s;
            transition: width 0.4s;
        }
    }


    .item-in h4 {
        font-size: 14px;
        font-weight: 700;
        margin-top: 25px;
        padding-left: 20%;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .item-in p {
        font-size: .875rem;
    }

    a {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        color: #666666;
        margin-top: 10px;

        i {
            opacity: 0;
            padding-left: 0px;
            transition: 0.4s;
            font-size: 24px;
            display: inline-block;
            top: 5px;
            position: relative;
        }

        &:hover {
            text-decoration: none;

            i {
                padding-left: 10px;
                opacity: 1;
                font-weight: 300;
            }
        }
    }

    .icon {
        position: absolute;
        top: 27px;
        left: -16px;

        a {
            font-family: 'Merriweather', serif;
            font-size: 14px;
            font-weight: 400;
            color: #999;
            text-transform: none;
        }

    }
}


#bg .container {
    position: absolute;
    top: 50%;
    left: 8%;
}


#bg .logos {
    display: flex;
    justify-content: flex-start;
    margin-top: 3px;
    padding-left: 5%;
}

#bg .logos img {
    max-width: 200px;
    /* Adjust the max-width of logos */
    height: 5rem;
    margin-right: 5%;
}


.read-more {
    display: inline-block;
    color: #F8998D;
    margin: 20px 5px;

}

a.read-more {
    margin-right: 50%;
    margin-left: 50%;
    width: 100%;
    font-weight: 600;

}

.read-more i {
    margin-left: 5px;
    /* Adjust spacing between text and icon */
}

.img-fluid {
    height: 25rem;
}

#text-after {
    text-align: center;
    font-weight: 500;
    margin: 5rem 0;
    font-family: 'Raleway', sans-serif;
}

#success-story img{
    height: 12rem;
    width: 12rem;
}

#success-story p{
    font-size: 12px;
    font-family: 'Raleway', sans-serif;

}

footer{
    border-top: 1px solid #c2c2c2;
    background: #f2f2f2;
    height: 50vh;
}

footer p{
  font-size: 13px;
}


/* CSS */
.button-52 {
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color:#333333;
}

.button-52:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
  
}

.button-52:hover{
  top: 0px;
  left: 0px;
  background-color: coral;
}

#right-col p, a{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

#right-col p{
    padding-top: 2%;
}

#right-col a{
    text-decoration: none;
    line-height: 3;
}




/* arrow */
:root {
    --black: #4c4c4c;
    --white: #eaeaea;
    --gray: #808080;
  
    --text-arrow-space: 16px;
    --shaft-width: 1px;
    --newshaft-width: 64px;
    --shaft-thickness: 1px;
    --arrow-head-width: 8px;
    --arrow-head-thickness: var(--shaft-thickness);
  }
  
  /* Base */
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  #more {
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 26px;
  }
  
  #more ul li {
    margin: 0 0 24px;
    text-align: center;
    text-decoration: none;
    list-style: none;
  }
  
  /* The Arrow */
  .the-arrow {
    width: var(--shaft-width);
    transition: all 0.2s;
  }
  
  .the-arrow.-left {
    position: absolute;
    top: 60%;
    left: -45%;
  }
  
  .the-arrow.-left > .shaft {
    width: 0;
    background-color: var(--black);
  }
  
  .the-arrow.-left > .shaft:before,
  .the-arrow.-left > .shaft:after {
    width: 0;
    background-color: var(--black);
  }
  
  .the-arrow.-left > .shaft:before {
    transform: rotate(0);
  }
  
  .the-arrow.-left > .shaft:after {
    transform: rotate(0);
  }
  
  .the-arrow.-right {
    top: 3px;
  }
  
  .the-arrow.-right > .shaft {
    width: var(--shaft-width);
    transition-delay: 0.2s;
  }
  
  .the-arrow.-right > .shaft:before,
  .the-arrow.-right > .shaft:after {
    width: var(--arrow-head-width);
    transition-delay: 0.3s;
    transition: all 0.5s;
  }
  
  .the-arrow.-right > .shaft:before {
    transform: rotate(40deg);
  }
  
  .the-arrow.-right > .shaft:after {
    transform: rotate(-40deg);
  }
  
  .the-arrow > .shaft {
    background-color: var(--black);
    display: block;
    height: var(--shaft-thickness);
    position: relative;
    transition: all 0.2s;
    transition-delay: 0;
    will-change: transform;
  }
  
  .the-arrow > .shaft:before,
  .the-arrow > .shaft:after {
    background-color: var(--black);
    content: '';
    display: block;
    height: var(--arrow-head-thickness);
    position: absolute;
    top: -100%;
    right: 0;
    transition: all 0.2s;
    transition-delay: 0;
  }
  
  .the-arrow > .shaft:before {
    transform-origin: top right;
  }
  
  .the-arrow > .shaft:after {
    transform-origin: bottom right;
  }
  
  /* Animated Arrow Button */
  .animated-arrow {
    display: inline-block;
    color: var(--black);
    font-size: 1.25em;
    font-style: italic;
    text-decoration: none;
    position: relative;
    transition: all 0.2s;
  }
  
  .animated-arrow:hover {
    color: var(--gray);
  }
  
  .animated-arrow:hover > .the-arrow.-left > .shaft {
    width: var(--newshaft-width);
    transition-delay: 0.1s;
    background-color: var(--gray);
  }
  
  .animated-arrow:hover > .the-arrow.-left > .shaft:before,
  .animated-arrow:hover > .the-arrow.-left > .shaft:after {
    width: var(--arrow-head-width);
    transition-delay: 0.1s;
    background-color: var(--gray);
  }
  
  .animated-arrow:hover > .the-arrow.-left > .shaft:before {
    transform: rotate(40deg);
  }
  
  .animated-arrow:hover > .the-arrow.-left > .shaft:after {
    transform: rotate(-40deg);
  }
  
  .animated-arrow:hover > .main {
    transform: translateX(calc(var(--shaft-width) + var(--text-arrow-space)));
    transform: translateX(calc(var(--newshaft-width) + var(--text-arrow-space))));
  }
  
  .animated-arrow:hover > .main > .the-arrow.-right > .shaft {
    width: 0;
    transform: translateX(200%);
    transition-delay: 0;
  }
  
  .animated-arrow:hover > .main > .the-arrow.-right > .shaft:before,
  .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
    width: 0;
    transition-delay: 0;
    transition: all 0.1s;
  }
  
  .animated-arrow:hover > .main > .the-arrow.-right > .shaft:before {
    transform: rotate(0);
  }
  
  .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
    transform: rotate(0);
  }
  
  .animated-arrow > .main {
    display: flex;
    align-items: center;
    transition: all 0.2s;
  }
  
  .animated-arrow > .main > .text {
    margin: 0 var(--text-arrow-space) 0 0;
    line-height: 1;
  }
  
  .animated-arrow > .main > .the-arrow {
    position: relative;
  }
  
  

@media (min-width: 768px) {
  .button-52 {
    padding: 10px 40px 10px;
  }
}

.button-55 {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 0.8rem;
    line-height: 10px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-55:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }


  
  .button-55:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }

  #success-story h5{
    font-size: 14px;
    font-weight: 600; 
  }

  #success-story h5 em{
    color: coral;
     font-size: 11px;
     font-family: 'Raleway', sans-serif;
  }

  #social-icons a {
     color: #333333;
  }

  #social-icons a:hover {
    color: #3333339e;
 }

@media only screen and (max-width: 768px) {
    #cat .item .icon {
        position: relative;
        top: 0;
        left: 0;
    }
}