@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: #f5f5f5;
}

header .navbar-expand-lg .navbar-collapse {
    display: block !important;
}

header nav ul .nav-link {
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
}

header nav ul .nav-item {
    margin-inline: 5px;
}


/* CSS */
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(0.1em + var(--s)) calc(0.15em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}

#bg {
    position: relative;
    height: 80vh;
    /* Set your desired height */
    overflow: hidden;
    /* Hide any overflowing content */
    background-color: rgba(0, 0, 0, 0.466);
}

#bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Maintain video aspect ratio and cover the container */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#bg .container {
    position: absolute;
    top: 50%;
    /* Adjust this value to vertically center the container */
    left: 10%;
    /* Adjust this value to move the container towards the left */
    transform: translate(-10%, -50%);
    /* Center the container horizontally and vertically */
    z-index: 1;
    width: 50%;
}

#bg #overlay-content {
    text-align: left;
    padding: 20px;
    color: #fff;
}

#bg #overlay-content h2 {
    font-weight: bolder;
    color: #F8998D;
    padding-bottom: 10px;
}

#bg #overlay-content p {
    font-weight: 500;
}

h1,
h4 {
    font-family: 'Montserrat', sans-serif;
}



.seperator {
    margin-bottom: 30px;
    width: 35px;
    height: 3px;
    background: #777;
    border: none;
}

.title {
    text-align: center;

    .row {
        padding: 20px;
        margin: 60px 10px;
    }

    h1 {
        text-transform: uppercase;
    }

    .seperator {
        margin: 0 auto 10px;
    }
}

#cat .col-md-4 {
    width: 29%;
}

#cat .item {
    position: relative;
    margin-bottom: 30px;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .item-in {
        background: #fff;
        padding: 30px;
        position: relative;

        &:hover:before {
            width: 100%;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: 0px;
            height: 2px;
            width: 0%;
            background: #333333;
            right: 0px;
            -webkit-transition: width 0.4s;
            transition: width 0.4s;
        }
    }


    .item-in h4 {
        font-size: 14px;
        font-weight: 700;
        margin-top: 25px;
        padding-left: 20%;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .item-in p {
        font-size: .875rem;
    }

    a {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        color: #666666;
        margin-top: 10px;

        i {
            opacity: 0;
            padding-left: 0px;
            transition: 0.4s;
            font-size: 24px;
            display: inline-block;
            top: 5px;
            position: relative;
        }

        &:hover {
            text-decoration: none;

            i {
                padding-left: 10px;
                opacity: 1;
                font-weight: 300;
            }
        }
    }

    .icon {
        position: absolute;
        top: 27px;
        left: -16px;

        a {
            font-family: 'Merriweather', serif;
            font-size: 14px;
            font-weight: 400;
            color: #999;
            text-transform: none;
        }

    }
}


#bg .container {
    position: absolute;
    top: 50%;
    left: 8%;
}


#bg .logos {
    display: flex;
    justify-content: flex-start;
    margin-top: 3px;
    padding-left: 5%;
}

#bg .logos img {
    max-width: 200px;
    /* Adjust the max-width of logos */
    height: 5rem;
    margin-right: 5%;
}


.read-more {
    display: inline-block;
    color: #F8998D;
    margin: 20px 5px;

}

a.read-more {
    margin-right: 50%;
    margin-left: 50%;
    width: 100%;
    font-weight: 600;

}

.read-more i {
    margin-left: 5px;
    /* Adjust spacing between text and icon */
}

.img-fluid {
    height: 25rem;
}

#text-after {
    text-align: center;
    font-weight: 600;
    margin: 5rem 0;
}

#success-story img{
    height: 12rem;
    width: 12rem;
}

#success-story p{
    font-size: 12px;
    font-family: 'Raleway', sans-serif;

}

footer{
    border-top: 1px solid #c2c2c2;
    background: #f2f2f2;
    height: 50vh;
}



/* CSS */
.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}


@media only screen and (max-width: 768px) {
    #cat .item .icon {
        position: relative;
        top: 0;
        left: 0;
    }
}